<!DOCTYPE html>
<html>
<head>
    <title>Program Comparison</title>
</head>
<body>
    <h1>Program Comparison</h1>

    <form action="/compare" method="post">
    <label for="program_level">Select a program level:</label>
    <select name="program_level" id="program_level">
        <option value="">-- Select Program Level --</option>
        {% for level in program_levels %}
            <option value="{{ level[0] }}">{{ level[1] }}</option>
        {% endfor %}
    </select>

    <label for="program">Select a program:</label>
    <select name="program" id="program">
        <option value="">-- Select Program --</option>
        {% for program in programs %}
            <option value="{{ program[0] }}">{{ program[2] }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Compare">
</form>






</body>
</html>
